---
layout: default
---

{{ content }}

<!-- <h3 class="fw-bold border-bottom pb-3 mb-5">People</h3> -->
{% for details in site.data.settings.projects %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>{{ details.name }}</h5>
    <p> </p>
    <p>{{ details.1-1 }}</p>
    <p>{{ details.1-2 }}</p>
    <p>{{ details.1-3 }}</p>
    <!-- <p> </p>
    <h5>{{ details.name2 }}</h5>
    <p> </p> -->
    <p>{{ details.2-1 }}</p>
    <p>{{ details.2-2 }}</p>
    <p>{{ details.2-3 }}</p>

<!--     <p>Phone: {{ details.phone }}</p> -->
    <p><a href="https://docs.google.com/document/d/1mey7wAFcO9a78n1p7g1ny-2l0qdLQeRS8qpogVgCcO0/edit?usp=sharing">Report</a></p>
    <p><a href="https://grabcad.com/library/dual-barrel-mechanism-1">Grabcad</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ details.image }}" alt="Contact" width="100%">
  </div>
</div>
{% endfor %}
<!-- {% include publications.html %}
 -->
