---
layout: default
---

{{ content }}

<!-- <h3 class="fw-bold border-bottom pb-3 mb-5">People</h3> -->
{% for details in site.data.settings.projects %}

<!-- autonomous car -->
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h4>{{ details.name6 }}</h4>
    <p><em>{{ details.skill6 }}</em></p>
    <p> </p>
    <p>{{ details.bullet_61 }}</p>
    <p>{{ details.bullet_62 }}</p>
    <p> </p>
    <p><a href="https://github.com/Allenwu1122/Autonomous-License-Plate-Auto-Detector">Github</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ details.image6 }}" alt="Contact" width="100%">
  </div>
</div>


<!-- skatebrake -->
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h4>{{ details.name4 }}</h4>
    <p><em>{{ details.skill4 }}</em></p>
    <p> </p>
    <p>{{ details.bullet_41 }}</p>
    <p>{{ details.bullet_42 }}</p>
    <p> </p>
    <p><a href="https://youtu.be/TF2D_ILOyw4">Video</a></p>
    <p><a href="https://drive.google.com/file/d/1bagAwdE-R4dQ87I5hLG3tmGbFaxvUkcc/view?usp=sharing">Presentation Slides</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ details.image4 }}" alt="Contact" width="100%">
  </div>
</div>

<!-- cogs 108 data -->
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h4>{{ details.name5 }}</h4>
    <p><em>{{ details.skill5 }}</em></p>
    <p> </p>
    <p>{{ details.bullet_51 }}</p>
    <p>{{ details.bullet_52 }}</p>
    <p> </p>
    <!-- <p><a href="https://docs.google.com/document/d/1mey7wAFcO9a78n1p7g1ny-2l0qdLQeRS8qpogVgCcO0/edit?usp=sharing">Report</a></p> -->
    <p><a href="https://github.com/Allenwu1122/COGS108_FinalProject/blob/main/FinalProject_Group008_WI24.ipynb">Github</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ details.image5 }}" alt="Contact" width="80%">
  </div>
</div>


<!-- controller -->
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h4>{{ details.name3 }}</h4>
    <p><em>{{ details.skill3 }}</em></p>
    <p> </p>
    <p>{{ details.bullet_31 }}</p>
    <p>{{ details.bullet_32 }}</p>
    <p>{{ details.bullet_33 }}</p>
    <p>{{ details.bullet_34 }}</p>
    <p> </p>
    <!-- <p><a href="https://docs.google.com/document/d/1mey7wAFcO9a78n1p7g1ny-2l0qdLQeRS8qpogVgCcO0/edit?usp=sharing">Report</a></p> -->
    <p><a href="https://grabcad.com/library/gamepad-controller-3">Grabcad</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ details.image3 }}" alt="Contact" width="85%">
  </div>
</div>

<!-- dual barrel -->
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h4>{{ details.name }}</h4>
    <p><em>{{ details.skill }}</em></p>
    <p> </p>
    <p>{{ details.bullet_11 }}</p>
    <p>{{ details.bullet_12 }}</p>
    <p>{{ details.bullet_13 }}</p>
    <p> </p>
    <p><a href="https://drive.google.com/file/d/14UiRW9Y1P3uVapDkxaENbcONB6_dPAQS/view?usp=sharing">Report</a></p>
    <p><a href="https://grabcad.com/library/dual-barrel-mechanism-1">Grabcad</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ details.image }}" alt="Contact" width="100%">
  </div>
</div>

<!-- scissor lift -->
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h4>{{ details.name2 }}</h4>
    <p><em>{{ details.skill2 }}</em></p>
    <p> </p>
    <p>{{ details.bullet_21 }}</p>
    <p>{{ details.bullet_22 }}</p>
    <p>{{ details.bullet_23 }}</p>
    <p> </p>
    <p><a href="https://docs.google.com/document/d/1ecC27qutFokkcPnpAUp6fbA3eaaVP8JzZkOPduv_ETM/edit?usp=sharing">Report</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ details.image2 }}" alt="Contact" width="100%">
  </div>
</div>


<!-- <h5>{{ details.name2 }}</h5>
<p> </p>
<p>{{ details.bullet_21 }}</p>
<p>{{ details.bullet_22 }}</p>
<p>{{ details.bullet_23 }}</p> -->

{% endfor %}
<!-- {% include publications.html %}
 -->
