---
layout: default
---

{{ content }}

<!-- <h3 class="fw-bold border-bottom pb-3 mb-5">People</h3> -->
{% for details in site.data.settings.projects %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>{{ details.name }}</h5>
    <p> </p>
    <p>{{ details.bullet_11 }}</p>
    <p>{{ details.bullet_12 }}</p>
    <p>{{ details.bullet_13 }}</p>
    <p> </p>
    <p><a href="https://docs.google.com/document/d/1mey7wAFcO9a78n1p7g1ny-2l0qdLQeRS8qpogVgCcO0/edit?usp=sharing">Report</a></p>
    <p><a href="https://grabcad.com/library/dual-barrel-mechanism-1">Grabcad</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ details.image }}" alt="Contact" width="100%">
  </div>
</div>


<div class="row g-12 mb-5">
  <div class="col-md-6">
    <h5>{{ details.name }}</h5>
    <p> </p>
    <p>{{ details.bullet_11 }}</p>
    <p>{{ details.bullet_12 }}</p>
    <p>{{ details.bullet_13 }}</p>
    <p> </p>
    <p><a href="https://docs.google.com/document/d/1mey7wAFcO9a78n1p7g1ny-2l0qdLQeRS8qpogVgCcO0/edit?usp=sharing">Report</a></p>
    <p><a href="https://grabcad.com/library/dual-barrel-mechanism-1">Grabcad</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ details.image }}" alt="Contact" width="100%">
  </div>
</div>

<div class="row g-19 mb-5">
  <div class="col-md-6">
    <h5>{{ details.name2 }}</h5>
    <p> </p>
    <p>{{ details.bullet_21 }}</p>
    <p>{{ details.bullet_22 }}</p>
    <p>{{ details.bullet_23 }}</p>
    <p> </p>
    <p><a href="https://docs.google.com/document/d/1ecC27qutFokkcPnpAUp6fbA3eaaVP8JzZkOPduv_ETM/edit?usp=sharing">Report</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ details.image2 }}" alt="Contact" width="100%">
  </div>
</div>


<!-- <h5>{{ details.name2 }}</h5>
<p> </p>
<p>{{ details.bullet_21 }}</p>
<p>{{ details.bullet_22 }}</p>
<p>{{ details.bullet_23 }}</p> -->

{% endfor %}
<!-- {% include publications.html %}
 -->
