---
layout: default
---

{{ content }}

<!-- <h3 class="fw-bold border-bottom pb-3 mb-5">People</h3> -->
{% for person in site.data.settings.people %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h4>{{ person.name }}</h4>
    <p>
    - Project Planning: Researched practicable mechanic ideas, hand-sketching the systems, and distributing reports to the mechanical team.
    </p>
    <p> 
    - Product Designed: CADed and combined the individual components, including a worm gear system, a linear slide support system, and 3d printed mounts.
    </p>
    <p>
    - Analytic Result: 3D printed and fabricated the system for the Infantry robot which increase the overall shooting efficiency by 50%.
    </p>
<!--     <p>Phone: {{ person.phone }}</p> -->
    <p><a href="{{ site.github.url }}/people/{{ person.url }}">More info</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="Contact" width="100%">
  </div>
</div>
{% endfor %}
<!-- {% include publications.html %}
 -->
